<!-- wp:template-part {"slug":"main-nav","theme":"blockader","tagName":"header","area":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"blockader-page blockader-page-single","layout":{"type":"constrained"}} -->
<main class="wp-block-group blockader-page blockader-page-single">

	<!-- wp:group {"className":"page-header","layout":{"type":"constrained"}} -->
	<div class="wp-block-group page-header">
		<!-- wp:post-title {"level":1,"className":"page-title"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"aspectRatio":"16/9","className":"page-featured-image"} /-->

	<!-- wp:group {"className":"page-content","layout":{"type":"constrained"}} -->
	<div class="wp-block-group page-content">
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

 <!-- wp:template-part {"slug":"site-footer","theme":"blockader","tagName":"footer","area":"footer","className":"footer"} /-->